<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Update User</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/shards.min.css">
</head>
<body>
<div class="container my-5">
    <h2 class="mb-5">Update Car</h2>
    <div class="row">
        <div class="col-md-6">
            <form action="#" th:action="@{/update/{id}(id=${car.id})}" th:object="${car}" method="post">
                <div class="row">
                    <input type="hidden" th:field="*{id}" class="form-control" placeholder="id">
                    <div class="form-group col-md-6">
                        <label for="length" class="col-form-label">Length</label>
                        <input type="text" th:field="*{length}" class="form-control" id="length" placeholder="Length">
                        <span th:if="${#fields.hasErrors('length')}" th:errors="*{length}" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="weight" class="col-form-label">Weight</label>
                        <input type="text" th:field="*{weight}" class="form-control" id="weight" placeholder="Weight">
                        <span th:if="${#fields.hasErrors('weight')}" th:errors="*{weight}" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="velocity" class="col-form-label">Velocity</label>
                        <input type="text" th:field="*{velocity}" class="form-control" id="velocity"
                               placeholder="Velocity">
                        <span th:if="${#fields.hasErrors('velocity')}" th:errors="*{velocity}"
                              class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="color" class="col-form-label">Color</label>
                        <input type="text" th:field="*{color}" class="form-control" id="color" placeholder="Color">
                        <span th:if="${#fields.hasErrors('color')}" th:errors="*{color}" class="text-danger"></span>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mt-5">
                            <input type="submit" class="btn btn-primary" value="Save">
                        </div>
                    </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>